.background {
    background-color: #ffffff;
}

.map {
    height: 315px;
    width: 1248px;
    border: 0;
}

.title-style {
    margin: 20px 30px;
}

.jumbotron {
    border-radius: 0;
}

.icon-color {
    color: rgba(210, 179, 86, 1);
}