@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

.color-link-card {
  color: rgba(41, 41, 41, 1);
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.active {
  background-color: rgba(95, 115, 255, 1);
  color: rgba(255, 255, 255, 1);
}

.active:active {
  color: rgba(95, 115, 255, 1);
}

.img-size {
  height: 360px;
}
