@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,800&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");

.about_us {
  background-color: #ffb6ad;
  /*height: 1400px;*/
}

.tittle {
  font-family: "Pacifico", cursive;
  font-size: 152px;
  margin-left: 70px;
  margin-top: 80px;
}

.vision_tittle {
  font-family: "Pacifico", cursive;
  font-size: 150px;
}

.valor_tittle {
  font-family: "Pacifico", cursive;
  font-size: 140px;
}

.title_two {
  font-family: "Ultra", serif;
  font-size: 42px;
  margin-left: 70px;
  padding-top: 80px;
}

.vision {
  background-color: #73baa8;
  height: 1174px;
}

.vision_img {
  height: 409px;
  width: 408px;
}

.valor_img {
  height: 299px;
  width: 499px;
}

.valor {
  background-color: #f6d399;
  height: 1174px;
}

.business {
  height: 192px;
  margin-bottom: 60px;
  margin-left: 73px;
  margin-top: 66px;
  width: 221px;
}

.letter {
  color: #707070;
  font-family: "Nunito", sans-serif;
  font-size: 52px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 80px;
  text-align: justify;
}

.letter_vision {
  color: #707070;
  font-family: "Nunito", sans-serif;
  font-size: 54px;
  font-weight: bold;
  margin-left: 70px;
  margin-right: 70px;
  text-align: center;
}

.letter_valor {
  color: #707070;
  font-family: "Nunito", sans-serif;
  font-size: 42px;
  font-weight: bold;
  margin-left: 70px;
  margin-right: 70px;
  text-align: center;
}

@media (max-width: 700px) {
  .letter {
    font-size: 15px;
  }

  .tittle {
    font-size: 40px;
  }

  .title_two {
    font-size: 20px;
  }

  .business {
    height: 230px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    width: 450px;
  }
}
